

/* Barra superior */
.topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(17, 59, 107); 
    padding: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    animation: slideDownTopbar 1s ease-in-out;
}


.topbar h1 {
    margin: 0;
    color: #ffffff; /* Color del título */
}

/* Contenido */
.content {
    margin-top: 20px;
    background-color: white;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    animation: fadeInContent 1.5s ease-in-out;
}

.content p {
    font-size: 16px;
    color: #333;
}
